################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Controllers/__pycache__
/escola
/pages/Escola/__pycache__
/pages/Home/__pycache__
/pages/Login/__pycache__
/__pycache__
/.vs
/escola_dict
/models/__pycache__
/pages/Aluno/__pycache__
/pages/Funcionario/__pycache__
/pages/Professor/__pycache__
